@using qlsv.ViewModels.Marks.GPA

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    ﻿<h1>{{title}}</h1>
    <table>
        <tr>
            <th>STT</th>
            <th>Mã lớp học</th>
            <th>Tên lớp học</th>
            <th>Số chỉ</th>
            <th>Năm</th>
            <th>Học kỳ</th>
            <th>Điểm</th>
        </tr>

        <tr>
            <td>Giá:</td>
            <td>{{Stt}}</td>
            <td>{{ClassId}}</td>
            <td>{{ClassName}}</td>
            <td>{{NumberCredit}}</td>
            <td>{{Year}}</td>
            <td>{{Semester}}</td>
            <td>{{Mark}}</td>
        </tr>

    </table>
</body>
</html>